html{
  font-family: sans-serif;
  }

.col1 {
    background-color: lightblue;
}

.main {
    -webkit-column-gap: 3em;
    -webkit-column-rule: 2px blue;
    -webkit-columns: 250px 3;
}

img {
  display: block;
  margin: 1.5em 0;
  max-width: 100%;
}

@media screen and (max-width:999px) {
.main {
  -webkit-flex-direction: column;
}
}





/*.column {
  width: 30%;
  float:left;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}
.col1 {
  border: 2px solid lightgrey;
}
.col2 {
  border: 2px solid lightblue;
}
.col3 {
  border: 2px solid red;
}

.col1 h2 {
  font-style: oblique;
}

.col2 h2 {
  color: blue
}

.col3 h2 {
  text-decoration: underline;
}


  */
